.buttons button {
    padding: 13px;
    background-color: aquamarine;
    border-radius: 21px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover{
    background-color: aliceblue;
    border-color: blue;
}
.heading{
    color: aqua;
}
#inputText{
    border-color: blue;

}
#inputText:hover{
    border-color: aqua;
}