/* .buttons button {
    padding: 13px;
    background-color: aquamarine;
    border-radius: 21px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover{
    background-color: aliceblue;
    border-color: blue;
}
.heading{
    color: aqua;
}
#inputText{
    border-color: blue;

}
#inputText:hover{
    border-color: aqua;
} */



#calculator {
    width: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  #result {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
  }
  
  .buttons button {
    width: 40px;
    height: 30px;
    margin: 2px;
  }
  