.buttons button {
    padding: 13px;
    background-color: aquamarine;
    border-radius: 21px;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:hover{
    background-color: aliceblue;
}
.heading{
    color: aqua;
}